akregatorrc
autostart/
autostart-scripts/
baloofilerc
Bitwarden/
bluedevilglobalrc
BraveSoftware/
broot/
configstore/
dconf/
dleyna-renderer-service.conf
dmenu-recent/
enchant/
fontconfig.bak/
gnome-boxes/
gnome-session/
goa-1.0/
gtk-3.0/
gtk.bak/
gtkrc
gtkrc-2.0
htop/
hunter/
ibus/
kactivitymanagerdrc
kactivitymanagerd-statsrc
kateschemarc
kcmfonts
kcminputrc
kconf_updaterc
KDE/
kded5rc
kdeglobals
kde.org/
kgammarc
kglobalshortcutsrc
khotkeysrc
kmixrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
libfm/
lxqt.bak/
mimeapps.list
mps-youtube/
mpv/
nordvpn/
pavucontrol.ini
pcmanfm-qt/
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
powermanagementprofilesrc
procps/
pulse/
qBittorrent/
qt5ct/
QtProject.conf
RStudio/
session/
spotify/
systemsettingsrc
Thunar/
touchpadxlibinputrc
transmission/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
wal/
xfce4/
xsettingsd/
yay/
youtube-viewer/
.config/alacritty/alacritty.yml.example
.config/fish/config (manjaro's conflicted copy 2020-06-18).fish
.config/fish/functions/fish_prompt.1580943727.copy
.config/lf/lfrc.example
.config/newsboat/urls
.config/nnn/
.config/nvim/.netrwhist
.config/nvim/spell/
.config/qutebrowser/bookmarks/
