akregatorrc
autostart/
autostart-scripts/
baloofilerc
Bitwarden/
bluedevilglobalrc
BraveSoftware/
broot/
configstore/
dconf/
dleyna-renderer-service.conf
dmenu-recent/
enchant/
fontconfig.bak/
gnome-boxes/
gnome-session/
goa-1.0/
gtk-3.0/
gtk.bak/
gtkrc
gtkrc-2.0
htop/
hunter/
ibus/
kactivitymanagerdrc
kactivitymanagerd-statsrc
kateschemarc
kcmfonts
kcminputrc
kconf_updaterc
KDE/
kded5rc
kdeglobals
kde.org/
kgammarc
kglobalshortcutsrc
khotkeysrc
kmixrc
kscreenlockerrc
ksmserverrc
ksplashrc
ktimezonedrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
libfm/
lxqt.bak/
mimeapps.list
mps-youtube/
mpv/
nordvpn/
pavucontrol.ini
pcmanfm-qt/
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasmarc
plasmashellrc
powermanagementprofilesrc
procps/
pulse/
qBittorrent/
qt5ct/
QtProject.conf
RStudio/
session/
spotify/
systemsettingsrc
Thunar/
touchpadxlibinputrc
transmission/
Trolltech.conf
user-dirs.dirs
user-dirs.locale
wal/
xfce4/
xsettingsd/
yay/
youtube-viewer/
.config/alacritty/alacritty.yml.example
.config/fish/config (manjaro's conflicted copy 2020-06-18).fish
.config/fish/functions/fish_prompt.1580943727.copy
.config/lf/lfrc.example
.config/newsboat/urls
.config/nnn/
.config/nvim/.netrwhist
.config/nvim/spell/
.config/qutebrowser/bookmarks/
.config/Element/
.config/FreeTube/
.config/Nextcloud/
.config/QCheckers/
.config/R/
.config/Signal/
.config/awesome/themes/default/
.config/awesome/themes/gtk/
.config/awesome/themes/sky/
.config/awesome/themes/xresources/
.config/awesome/themes/zenburn/awesome-icon.png
.config/awesome/themes/zenburn/layouts/
.config/awesome/themes/zenburn/taglist/
.config/awesome/themes/zenburn/theme.lua.bak
.config/awesome/themes/zenburn/titlebar/
.config/awesome/themes/zenburn/zenburn-background.png
.config/bashtop/
.config/bleachbit/
.config/bottom/
.config/calibre/
.config/cef_user_data/
.config/chromium/
.config/darktable/
.config/deadbeef/
.config/emaildefaults
.config/evolution/
.config/fish.bak/
.config/fish/completions/a.fish
.config/fish/completions/d.fish
.config/fish/completions/f.fish
.config/fish/completions/fasd.fish
.config/fish/completions/fisher.fish
.config/fish/completions/s.fish
.config/fish/completions/sd.fish
.config/fish/completions/sf.fish
.config/fish/completions/z.fish
.config/fish/completions/zz.fish
.config/fish/conf.d/
.config/fish/config.sync-conflict-20210414-111641-QR7FHUQ.fish
.config/fish/fish_plugins
.config/fish/fish_variables
.config/fish/functions/__fasd_print_completion.fish
.config/fish/functions/__history_previous_command.fish
.config/fish/functions/__history_previous_command_arguments.fish
.config/fish/functions/__z.fish
.config/fish/functions/__z_add.fish
.config/fish/functions/__z_clean.fish
.config/fish/functions/__z_complete.fish
.config/fish/functions/a.fish
.config/fish/functions/d.fish
.config/fish/functions/f.fish
.config/fish/functions/fasd_cd.fish
.config/fish/functions/fish_prompt.fish
.config/fish/functions/fisher.fish
.config/fish/functions/man.fish
.config/fish/functions/s.fish
.config/fish/functions/sd.fish
.config/fish/functions/sf.fish
.config/fish/functions/z.fish
.config/fish/functions/zz.fish
.config/gedit/
.config/gtk-2.0/
.config/k3brc
.config/kdeconnect/
.config/kigorc
.config/knfsshare
.config/konsolerc
.config/ksnakeduelrc
.config/lbry/
.config/libreoffice/
.config/lxpanel/
.config/lxqt/
.config/lxsession/
.config/lxterminal/
.config/manjaro/
.config/mpd/database
.config/mpd/pid
.config/mpd/pid.sync-conflict-20210107-122547-QR7FHUQ
.config/mpd/pid.sync-conflict-20210115-194316-QR7FHUQ
.config/mpd/pid.sync-conflict-20210319-181710-G5D4SGF
.config/mpd/pid.sync-conflict-20210326-181322-G5D4SGF
.config/mpd/pid.sync-conflict-20210326-181348-G5D4SGF
.config/mpd/pid.sync-conflict-20210327-181503-G5D4SGF
.config/mpd/pid.sync-conflict-20210327-185702-G5D4SGF
.config/mpd/pid.sync-conflict-20210409-123032-QR7FHUQ
.config/mpd/pid.sync-conflict-20210409-123056-QR7FHUQ
.config/mpd/pid.sync-conflict-20210413-092339-G5D4SGF
.config/mpd/pid.sync-conflict-20210413-131024-G5D4SGF
.config/mpd/playlists/
.config/mpd/state
.config/mpd/state.sync-conflict-20201217-191021-QR7FHUQ
.config/mpd/state.sync-conflict-20201219-111409-QR7FHUQ
.config/mpd/state_x250_Oct-19-125301-2020_Conflict
.config/mpd/sticker.sql
.config/mutt/
.config/ncmpcpp/error.log
.config/ncmpcpp/patterns.list
.config/neofetch/
.config/newsboat/
.config/nitrogen/
.config/nvim/init.sync-conflict-20201219-111408-QR7FHUQ.vim
.config/nvim/init.sync-conflict-20210115-194316-QR7FHUQ.vim
.config/nvim/init.vim.bak1
.config/obs-studio/
.config/okularpartrc
.config/okularrc
.config/oomox/
.config/openbox/lxqt-rc.xml
.config/pcmanfm/
.config/pipewire-media-session/
.config/pychess/
.config/qterminal.org/
.config/qutebrowser/
.config/rofimenu/
.config/sakura/
.config/spectrwm/autostart.sync-conflict-20201219-111419-QR7FHUQ.sh
.config/spectrwm/autostart.sync-conflict-20210226-164331-7EJK6FE.sh
.config/spectrwm/autostart.sync-conflict-20210226-164334-7EJK6FE.sh
.config/stacer/
.config/supertuxkart/
.config/sxiv/
.config/syncthing/
.config/terminology/
.config/torbrowser/
.config/user-dirs.sync-conflict-20201113-221331-QR7FHUQ.dirs
.config/vifm/
.config/vivaldi/
.config/wireshark/
.config/yelp/
.spectrwm.conf.sync-conflict-20201219-111411-QR7FHUQ.x250
